/*font family*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@400;500;700&family=Roboto&display=swap');

/*common css start*/
:root{
  --black : #000000;
  --green : #21b573;
  --white : #ffffff;
  --bg : #F0FFF0;
  --red : #Fd511A;
  --pop : "Poppins", sans-serif;
  --rob : "Roboto", sans-sarif;
}
body{
  font-family: var(--pop);
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}
/*common css end*/
/*header start*/

hedaer{
  padding: 15px 0;
  background-color:var(#F0FFF0);
}

.cnav{}
.n_brand{}
.logo{}
.logo_h1{
  font-size: 24px;
  font-weight: 700;
  color: var(--black);
}
.menu{}
.menu ul li a{
  padding: 0 15px !important;
  color: var(--black) !important;
  

}
menu ul li a:hover{
  color: var(--red) !important;
}
.btn_cn{
  background-color: var(--#F0FFF0);
  border-radius: 33px;
  font-family: var(--rob);
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
}
.btn_sign_in{
  margin-left: 10px;
  padding: 12px 28px;

}

.btn_cm:hovar{
  background-color: var(--red);
  color: var(--white);
}
.btn_cm:active{
  background-color: var(--red) !important;
  color: var(--white)  !important;
}
/*header end*/
/*banner start*/
.banner{
   background-color:#F0FFF0;
   padding-bottom: 65px;
}
.b_text{}
.b_p1{
  color: var(--red);
}
.b_h1{
  margin: 10px 105px 20px 0;
  font-size: 48px;
  font-weight: 700;
  color: var(--black);
  line-height: 70px;
}
.b_h1 span{
  color: var(--#21b573);
}
.b_p2{
  line-height: 36px;
}
.btn_get{
  margin-top: 15px;
  padding: 12px 36px;
}
.b_img{}
/*banner end*/


/*feature start*/
.feature{}
.pb_100{
  padding-bottom: 100px;
}
.f_item{
  margin: 40px 0 0;
  padding: 55px 0 50px;
  background-color: var(--bg);
  border-radius: 10px;
}
.f_img{
  width: 75px;
  height: 88px;
}
.f_h2{
  margin: 20px 0 0;
  font-size: 24px;
  font-weight: 500;
  color: var(--black);
}
.f_p{}
.f_item:hover{
  background-color: var(--white);
  box-shadow: 0px 20px 40px 0px #0000001A;

}
/*feature end*/


/*feature start*/
.feature{}
.pb_100{
  padding-bottom: 100px;
}
.f_item{
  margin: 40px 0 0;
  padding: 55px 0 50px;
  background-color: var(--bg);
  border-radius: 10px;
}
.f_img{
  width: 75px;
  height: 88px;
}
.f_h2{
  margin: 20px 0 0;
  font-size: 24px;
  font-weight: 500;
  color: var(--black);
}
.f_p{}
.f_item:hover{
  background-color: var(--white);
  box-shadow: 0px 20px 40px 0px #0000001A;

}
/*feature end*/


/*feature start*/
.feature{}
.pb_100{
  padding-bottom: 100px;
}
.f_item{
  margin: 40px 0 0;
  padding: 55px 0 50px;
  background-color: var(--bg);
  border-radius: 10px;
}
.f_img{
  width: 75px;
  height: 88px;
}
.f_h2{
  margin: 20px 0 0;
  font-size: 24px;
  font-weight: 500;
  color: var(--black);
}
.f_p{}
.f_item:hover{
  background-color: var(--white);
  box-shadow: 0px 20px 40px 0px #0000001A;

}
/*feature end*/


/*feature start*/
.feature{}
.pb_100{
  padding-bottom: 100px;
}
.f_item{
  margin: 40px 0 0;
  padding: 55px 0 50px;
  background-color: var(--bg);
  border-radius: 10px;
}
.f_img{
  width: 75px;
  height: 88px;
}
.f_h2{
  margin: 20px 0 0;
  font-size: 24px;
  font-weight: 500;
  color: var(--black);
}
.f_p{}
.f_item:hover{
  background-color: var(--white);
  box-shadow: 0px 20px 40px 0px #0000001A;

}

/*feature end*/


